.basic-contact-wrapper {
	position: absolute;
	margin-top: 20px;
	height: 550px;
	width: 590px;
	padding-left: calc((100% - 590px)/2);
	padding-right: calc((100% - 590px)/2); 
}

.basic-contact-inner {
	position: absolute;
	height: 100%;
	width: 590px;
	margin-top: -1px;
	border-top: 1px solid #EDEDED;
}

.basic-contact-wrapper input {
	border: none;
	font-size: 25.2px;
	color: #888888;
}

.basic-contact-wrapper input:focus {
	outline: none;
}

.basic-contact-wrapper input::placeholder {
	font-size: 25.2px;
	color: #CCCCCC;
}

.first-name-group {
	position: absolute;
	display: inline-block;
	width: calc(50% - 1px);
	height: 104px;
	left: 0px;
	border-right: 1px solid #EDEDED;
	background-color: #ffffff;
}

.first-name-group .first-name-text-input {
	position: absolute;
	left: 93px;
	top: 38px;
	width: 150px;
}

.first-name-image-wrapper {
	position: absolute;
	top: 28px;
	left: 20px;
	width: 53px;
}

.first-name-image-wrapper img {
	width: 100%;
	height: auto;
}

.last-name-group {
	position: absolute;
	display: inline-block;
	margin-left: 0px;
	width: 50%;
	left: 50%;
	height: 104px;
	background-color: #ffffff;
}

.last-name-group .last-name-text-input {
	position: absolute;
	left: 25px;
	top: 38px;
	width: 150px;
}

.email-group {
	position: absolute;
	width: 100%;
	height: 104px;
	left: 0px;
	top: 104px;
	border-top: 1px solid #EDEDED;
	background-color: #ffffff;
}

.email-group .email-text-input {
	position: absolute;
	left: 93px;
	top: 38px;
	width: 350px;
}

.email-image-wrapper {
	position: absolute;
	top: 28px;
	left: 20px;
	width: 53px;
}

.email-image-wrapper img {
	width: 100%;
	height: auto;
}

.password-group {
	position: absolute;
	width: 100%;
	height: 104px;
	left: 0px;
	top: 209px;
	border-top: 1px solid #EDEDED;
	background-color: #ffffff;
}

.password-group .password-text-input {
	position: absolute;
	left: 93px;
	top: 38px;
	width: 350px;
}

.password-image-wrapper {
	position: absolute;
	top: 28px;
	left: 20px;
	width: 53px;
}

.password-image-wrapper img {
	width: 100%;
	height: auto;
}

.contact-group {
	position: absolute;
	width: 100%;
	height: 104px;
	left: 0px;
	top: 314px;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
	background-color: #ffffff;
}

.contact-group .contact-text-input {
	position: absolute;
	left: 93px;
	top: 38px;
	width: 350px;
}

.contact-image-wrapper {
	position: absolute;
	top: 28px;
	left: 20px;
	width: 53px;
}

.contact-image-wrapper img {
	width: 100%;
	height: auto;
}

.privacy-agreement {
	margin-top: 420px;
	width: 100%;
	font-size: 14px;
	color: #AAAAAA;
}

.privacy-agreement a {
	color: #009BFF;
	text-decoration: none;
}

.submit-basic-contact-wrapper {
	margin-top: 35px;
	width: 100%;
	height: 8.5%;
}

.submit-basic-contact-wrapper button {
	width: 380px;
	height: 100%;
	border-radius: 0px;
	box-shadow: none;
}

@media only screen and (max-width: 593px) {
	.basic-contact-wrapper {
		min-width: 0px;
		min-height: 330px;
		margin-top: 10px;
		width: 100%;
		padding: 0px;
	}

	.basic-contact-inner {
		width: 100%;
	}

	.basic-contact-wrapper input {
		padding: 0px;
		margin: 0px;
		font-size: 16px;
	}

	.basic-contact-wrapper input::placeholder {
		font-size: 16px;
	}

	.first-name-group {
		width: calc(50% - 1px);
		height: 66px;
	}

	.first-name-group .first-name-text-input {
		left: 31%;
		top: 22px;
		width: calc(100% - 32%);
	}

	.first-name-image-wrapper {
		top: 14px;
		left: calc(10% - 5px);
		width: 35px;
	}

	.last-name-group {
		width: 50%;
		height: 66px;
	}

	.last-name-group .last-name-text-input {
		top: 23px;
		left: 9%;
		width: calc(100% - 10%);
	}

	.email-group {
		top: 66px;
		height: 66px;
	}

	.email-group .email-text-input {
		left: 16%;
		top: 22px;
		width: calc(100% - 16%);
	}

	.email-image-wrapper {
		top: 14px;
		left: calc(5% - 5px);
		width: 35px;
	}

	.password-group {
		top: 132px;
		height: 66px;
	}

	.password-group .password-text-input {
		left: 16%;
		top: 22px;
		width: calc(100% - 16%);
	}

	.password-image-wrapper {
		top: 14px;
		left: calc(5% - 5px);
		width: 35px;
	}

	.contact-group {
		top: 198px;
		height: 66px;
	}

	.contact-group .contact-text-input {
		left: 16%;
		top: 22px;
		width: calc(100% - 16%);
	}

	.contact-image-wrapper {
		top: 14px;
		left: calc(5% - 5px);
		width: 35px;
	}

	.privacy-agreement {
		margin-top: 276px;
	}

	.submit-basic-contact-wrapper {
		position: fixed;
		bottom: 0px;
		width: 100%;
		height: 50px;
	}

	.submit-basic-contact-wrapper button {
		width: 100%;
	}
}